@import viewmodels.ScheduleListViewModel
@import utils.DateUtils
@(scheduleListViewModelList: List[ScheduleListViewModel])
@main("Home") {
    @for(scheduleListViewModel <- scheduleListViewModelList) {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @DateUtils.getSimpleString(scheduleListViewModel.date)
                </h3>
            </div>
        <table class="table table-bordered">
            <tr>
                <th>名前</th>
                @for(term <- scheduleListViewModel.termList) {
                    <th>@term.description</th>
                }
            </tr>
            @for(scheduleOfDay <- scheduleListViewModel.scheduleOfDayList) {
                <tr>
                    <th>@scheduleOfDay.user.name</th>
                    @for(schedule <- scheduleOfDay.scheduleList) {
                        <td>
                            @if(schedule.state == null) {
                                &nbsp;
                            } else {
                                <img src="@schedule.state match {
                                    case State.UNDECIDED => {@routes.Assets.versioned("images/hatena.png")}
                                    case State.FREE => {@routes.Assets.versioned("images/maru.png")}
                                    case State.BUSY => {@routes.Assets.versioned("images/batu.png")}
                                    case State.WELL => {@routes.Assets.versioned("images/sankaku.png")}
                                    case _ => {&nbsp;}
                                }" width="10px" height="10px">
                            }
                        </td>
                    }
                </tr>
            }
        </table>
        </div>
    }
}
