@import viewmodels.ScheduleOfDayViewModel
@import utils.DateUtils
@(user: User, scheduleOfDayViewModelList: List[ScheduleOfDayViewModel])
@main("Registration", scripts) {
    <script type="text/javascript">
            function deleteUser() {
                $.ajax({
                    "url" : '@routes.UsersController.deleteUser(user.id)',
                    "success" : function (data) {
                        window.location.href = data;
                    },
                    "type" : "DELETE",
                    "cache" : false,
                    "error" : function (data) {
                        window.location.href = data;
                    }
                })
            }
    </script>

    <h2>@user.name
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">削除</button>
    </h2>
    <div id="container" userId="@user.id"></div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">削除</h4>
                </div>
                <div class="modal-body">
                    @(user.name)を削除するよ？？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-danger" onclick="deleteUser()">削除</button>
                </div>
            </div>
        </div>
    </div>
}

@scripts = {
    <script src="@routes.Assets.versioned("javascripts/target/registration.js")"></script>
}
